@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;1,500&family=Red+Hat+Display:ital,wght@0,700;0,900;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}

body{
    background-color: rgb(14, 5, 44);
    font-family: 'Montserrat', sans-serif;
}

/*---------------------NAV----------------------*/

nav {
    padding-right: 20px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.nav-enlace {
    display: inline-block;
    list-style: none;
    line-height: 60px;
    margin: 0 5px;
    
}

.nav-enlace a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    padding: 5px 5px;

}

.checkbtn {
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.photo {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(28, 26, 53);
    width: 650px;
    height: 650px;
    border-radius: 50%;
    overflow:hidden;    
}

.container-header {
    height: calc(100vh-80px);
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
}

.photo img {

    width: 1000px;
}